
 <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="isExpanded = !isExpanded">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">Users Dashboard</h1>
  </mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav class="example-sidenav" mode="'side'" opened="true" >
    <mat-nav-list>
      <div class="homeicon">
      <button mat-list-item [routerLink]="'/home'">
        <mat-icon>home</mat-icon>

      <span class="hometext" *ngIf="isExpanded">Home</span> 
    </button>
          </div>
          <div class="homeicon">
      <button mat-list-item routerLink="/editprofile/{{currentUser.id}}">
        <mat-icon>account_circle</mat-icon>

        <span class="hometext" *ngIf="isExpanded">Profile</span>
      </button>
      </div>
      <div class="homeicon">
      
      <button mat-list-item (click)="confirmationDialogbox()">
        <mat-icon>power_settings_new</mat-icon>
        <span class="hometext" *ngIf="isExpanded">Logout</span>
       </button>
      
      </div>
    </mat-nav-list>
  </mat-sidenav>
 
<mat-sidenav-content class="sidenav-content">
  <router-outlet></router-outlet>
</mat-sidenav-content>
</mat-sidenav-container>
