<div class="limiter">
    <div class="container">


        <div *ngIf="isLoad">
            <mat-spinner class="spinner" color="primary"></mat-spinner>
          </div>
          <mat-toolbar>
            <div class="logout">
                <button mat-button routerLink="/editprofile/{{currentUser.id}}">
                <mat-icon>account_circle</mat-icon>
            </button>    
                <button mat-button (click)="confirmationDialogbox()">Logout
                    <mat-icon>power_settings_new</mat-icon>
                </button>
            </div>
        </mat-toolbar>
        <mat-card class="login-card">
           
            <div class = "userdetails">
            <h1>Hi {{currentUser.firstName}}</h1>
            </div>
            <div class="example-header">
              <mat-form-field fxFlex="40%">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter"> 
               </mat-form-field>
            </div>
            <app-userlist [dataSource]="dataSource"></app-userlist>
        <div class="mattable-container">

         </div>
      <div [hidden]="isTableHasData">
          No results Found
          </div> 
          
  </mat-card>
        
    </div>
</div>