<div class="limiter">
    <div class="container">
        <mat-card class="login-card editprofilecard">
            <div class="profilecard">
                <h1>EditProfile</h1>
                <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
                    

        <div class="editprofile">
    <mat-form-field appearance="legacy">
      <mat-label>FirstName</mat-label>
      <input matInput placeholder="firstName" name="firstname" formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && formValue.username.errors }" >
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <!-- <div *ngIf="submitted && formValue.firstName.errors" class="invalid-feedback">
        <div *ngIf="formValue.firstName.errors.required || formValue.firstName.errors.pattern">FirstName should be valid</div>
    </div>    -->
 </mat-form-field>
 <div *ngIf="submitted && formValue.firstName.errors" class="invalid-feedback ">
    <div *ngIf="formValue.firstName.errors.required || formValue.firstName.errors.pattern">FirstName is required and valid</div>
</div>
</div>
  
<div class="editprofile">
    <mat-form-field appearance="legacy">
      <mat-label>LastName</mat-label>
      <input matInput placeholder="lastName" name="lastname" formControlName="lastName">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </div>
  <div class="editprofile">
    <mat-form-field appearance="legacy">
      <mat-label>Username</mat-label>
      <input matInput placeholder="username" name="username" formControlName="username" [ngClass]="{ 'is-invalid': submitted && formValue.username.errors }" >
      <mat-icon matSuffix>account_circle</mat-icon>
      <!-- <div *ngIf="formValue.username.errors.required">Username is required</div> -->
    </mat-form-field>
    <!-- <div *ngIf="submitted && formValue.username.errors" class="invalid-feedback">
        <div *ngIf="formValue.username.errors.required">Username is required</div>
    </div> -->
    <div *ngIf="submitted && formValue.username.errors" class="invalid-feedback">
        <div *ngIf="formValue.username.errors.required">Username is required</div>
    </div>
  </div>
  
    <div class="editprofile">
    <mat-form-field appearance="legacy">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" name="email" formControlName="email">
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
    </div>
    <div class="editprofile">
    <mat-form-field appearance="legacy">
      <mat-label>Bio</mat-label>
      <textarea matInput placeholder="Add a description about yourself..."
        formControlName="bio"></textarea>
    </mat-form-field>
  </div>
  <button class="btn-secondary">Update</button>
  </form>
</div>
  </mat-card>
    </div>
</div>
